a{
 color: rgba(100, 0, 8, 0.966);
 font-size: 30px; 
}

div{
  color:#0764fa;  
}
#moya_ssilka{
  font-size: 30px;
  color: rgb(241, 16, 16);
}
.human {
  color:#4831E1;
}
.animmal{
  color: #C4F034;
}
  


